.section-second{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
.card{
  margin: 0;
  width: 45%;
}
.cardText{
  font-size: 1.8rem;
}
.card1{
  margin-left: 2rem;
}
.card2{
  margin-right: 2rem;
}
.card3{
  margin: 2rem;
  margin-left: 2rem;
}
.card figure{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-rocky{
  width: 80%;
}
footer{
}